<div class="post-list">
  <h2>Publicaciones</h2>
  <button > <a routerLink="/reset-password" routerLinkActive="router-link-active"> 
    Crear publicacion
  
  </a>
  </button>

  <div *ngFor="let post of posts$ | async" class="post-card">
    <h3>{{ post.name }}</h3>
    <img 
      [src]="post.imageBase64" 
      alt="Imagen de la publicación" 
      style="max-width: 100%; height: auto;" 
    />
    <p>Creado el: {{ post.createdAt.toDate() | date: 'medium' }}</p>
    <p>Comentarios ({{ post.comments.length }}):</p>
      <p *ngFor="let comment of post.comments">{{ comment }}</p>
    

    <div class="post-interaction">
      <button 
        (click)="likePost(post)" 
        [ngStyle]="{ 'background-color': post.liked ? '#d4edda' : '#f8d7da' }"
      >
        Me gusta
      </button>
    </div>

    <div class="comment-section">
      <textarea 
        [(ngModel)]="userComments[post.id]" 
        placeholder="Escribe un comentario..." 
        rows="2">
      </textarea>
      <button (click)="submitComment(post)">💬 Enviar comentario</button>
    </div>
  </div>
</div>
