<div class="post-list">
  <h2>Publicaciones</h2>
  <button> <a routerLink="/create-post" routerLinkActive="router-link-active"> 
    Crear publicacion
  </a>
  </button>

  <div *ngFor="let post of posts$ | async" class="post-card">
    <h3>{{ post.name }}</h3>
    <img 
      [src]="post.imageBase64" 
      alt="Imagen de la publicación" 
      style="max-width: 100%; height: auto;" 
    />
    <p>Creado el: {{ post.createdAt.toDate() | date: 'medium' }}</p>
    <p (click)="openCommentsModal(post)">Comentarios ({{ post.comments.length }})</p>

    <!-- Modal -->
    <div *ngIf="selectedPost && selectedPost.id === post.id" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeCommentsModal()">×</span>
        <h4>Comentarios</h4>
        <div *ngFor="let comment of selectedPost.comments; let i = index">
          <p>{{ comment }}
            <button (click)="editComment(post, i)"> Editar</button>
            <button (click)="deleteComment(post, i)"> Borrar</button>
          </p>
        </div>
        <div class="comment-section">
          <textarea 
            [(ngModel)]="userComments[selectedPost.id]" 
            placeholder="Escribe un comentario..." 
            rows="2">
          </textarea>
          <button (click)="submitComment(selectedPost)">💬 Enviar comentario</button>
        </div>
      </div>
    </div>

    <div class="post-interaction">
      <button 
        (click)="likePost(post)" 
        [ngStyle]="{ 'background-color': post.liked ? '#d4edda' : '#f8d7da' }"
      >
        Me gusta
      </button>
    </div>
  </div>
</div>
