<div style="background-color: #000000; height: 100%; min-height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
  <div style="width: 45%; background-color: aliceblue; position: fixed; top: 0; z-index: 1000; border-radius: 0 0 20px 20px;">
       <a routerLink="/create-post" routerLinkActive="router-link-active"> <button style="width: 100%; height: 100%;">Crear publicacion</button></a>
  </div>
    <div *ngIf="posts$ | async as posts; else loading">
      <div *ngFor="let post of posts">
        <p style="color: aliceblue;">Publicado el: {{ post.createdAt?.toDate() | date: 'medium' }}</p>
        <img [src]="post.imageBase64" alt="Imagen subida" style="max-width: 20%; height: auto; margin: 10px;">
      </div>
    </div>
    
    <ng-template #loading>
      <p style="color: aliceblue;">Cargando imágenes...</p>
    </ng-template>
  </div>
  