.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa toda la altura del viewport */
  }
  
  .create-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #141414;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Para limitar el ancho máximo */
  }
  
  .create-post h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .create-post input[type="text"],
  .create-post input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  .create-post img {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  